.mode-icon {

    width: 42px;
    height: 42px;

    display: flex;

    align-items: center;
    justify-content: center;

    background:
        rgba(140,108,255,0.13);

    border-radius: 9px;

    overflow: hidden;

}


/* Iconița PNG a gamemode-ului */

.mode-icon img {

    width: 28px;
    height: 28px;

    object-fit: contain;

    image-rendering: pixelated;

}
